<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <script>
      (function(){
        try {
          var docCookies = {
            setItem: function (sKey, sValue, vEnd, sPath, sDomain, bSecure) {
              if (!sKey || /^(?:expires|max\-age|path|domain|secure)$/i.test(sKey)) { return false; }
              var sExpires = "";
              if (vEnd) {
                switch (vEnd.constructor) {
                  case Number:
                    sExpires = vEnd === Infinity ? "; expires=Fri, 31 Dec 9999 23:59:59 GMT" : "; max-age=" + vEnd;
                    break;
                }
              }
              document.cookie = encodeURIComponent(sKey) + "=" + encodeURIComponent(sValue) + sExpires + (sDomain ? "; domain=" + sDomain : "") + (sPath ? "; path=" + sPath : "") + (bSecure ? "; secure" : "");
              return true;
            },
            hasItem: function (sKey) {
              if (!sKey) { return false; }
              return (new RegExp("(?:^|;\\s*)" + encodeURIComponent(sKey).replace(/[\-\.\+\*]/g, "\\$&") + "\\s*\\=")).test(document.cookie);
            }
          };

          var updateProps = function() {
            docCookies.setItem('width', window.innerWidth, 86400);
            docCookies.setItem('height', window.innerHeight, 86400);
            console.log('props set');
          }

          window.addEventListener('resize', updateProps, true);
          updateProps();

          console.log('get from session storage', sessionStorage.getItem('documentWidth'));
          if (!sessionStorage.getItem('documentWidth')) {
            sessionStorage.setItem('documentWidth', window.innerWidth);
            window.location.reload();
          };
        }
        catch (err) {
          console ? console.error(err) : null;
        }
      })();
    </script>
    <!--[if IE 8]>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-shim.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-sham.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='//cdn.uriit.ru/console-polyfill/index.js'></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    {{#each assets.style}}
      <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>{{{title}}}</title>
  </head>
  <body>
    {{{body}}}
    <script src="{{assets.script.[0]}}"></script>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
